/* html body {
    overflow: hidden;
} */
body {
    background-image: url("images/bg.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 100%;
}

.details {
    backdrop-filter: blur(3px);
    /* width: 22%; */
}
.temp {
    font-size: 155px;
}
